.registerBtn {
    background-color: #75BF7A;
    border: 1px solid #75BF7A;
    height: 49.49px;
    width: 150px;
    color: #fff;
    border-radius: 2.78px;
}

.registerBtn:hover {
    background-color: #75BF7A !important;
    color: #fff;
}

.navbar-nav {
    gap: 20.71px;
}

.headerColor {
    background-color: #fff;
}

.colorDark {
    color: #9E9DA2;
    font-size: 15px;
}

.downloadbtn {
    background-color: #000;
    border: 1px solid #000;
    height: 66.77316284179688px;
    width: 260px;
    color: #fff;
}

.downloadbtn:hover {
    background-color: #000 !important;
    color: #fff;
}

.lesson {
    font-size: 55px;
}

.lesson div {
    color: #75BF7A;
}

.Righthero {
    position: relative;
    z-index: 1;
    height: 304px;
    
} 

input {
    width: 499px;
    height: 66.77316284179688px;
    padding-left: 30px;
    font-size: 20px;
}

.combination {
    background-color: #75BF7A;
}

.terespan {
    color: #75BF7A;
}

.circle {
    height: 350px;
    width: 350px;
    border-radius: 50%;
    background-color: #75BF7A;
}
.mobile {
    display: none;
}
.benefits-section {
     position: relative;
     padding: 100px 0;
     overflow: hidden;
 }

 .section-title {
     text-align: center;
     font-size: 3rem;
     font-weight: 760;
     color: black;
     margin-bottom: 70px;
 }

 .benefit-card {
     background: white;
     border-radius: 20px;
     padding: 35px 30px;
     box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
     transition: all 0.3s ease;
     height: 304;
 }

 .benefit-card:hover {
     transform: translateY(-10px);
     box-shadow: 0 20px 40px rgba(0, 0, 0, 0.12);
 }

 .benefits {
     margin-left: 80px;
 }

 .number {
     font-size: 3.8rem;
     font-weight: 900;
     color: #28a745;
     line-height: 1;
 }

 .card-title {
     font-size: 1.65rem;
     font-weight: 700;
     color: #212529;
     margin-bottom: 12px;
 }

 .card-text {
     font-size: 1.1rem;
     color: #555;
     line-height: 1.7;
 }

.mobileicon{
    position: absolute;
    bottom: -25px;
    right: 30%;
    transform: translate(-50%);
    z-index: 1;
    pointer-events:none ;
}
        .benefits-row {
            position: relative;
            z-index: 2;
        }
@media only screen and (max-width:992px) {
    .mobileicon{
        display: none;
    }
    .carimg img{
        display: flex;
        order: 2;
    }

}
@media only screen and (max-width:750px) {
    .mobile{
        display: block;
    }
    .mobilecircle{
        justify-content: center;
        align-items: center;
    }
}
